body {
    color: #fff;
    background-color: #272F45;
    margin: 0;
    font-family: LeagueSpartan-Bold;
}
a {
    text-decoration: none;
    color: azure;
}
p {
    font-family: HKGrotesk-Light;
    letter-spacing: 0.5px;
}
header.line{
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
    margin: auto;
}
.main{
    width: 1160px;
    margin:auto;
}
.search__button{
    background:url('img/search.png');
    border: none;
    width: 23px;
    height: 23px;
}
.search__placholder {
    background-color: transparent;
    border: none;
    height: 25px;
    width: 180px;
    color: #63757E;
    font: 24px HKGrotesk-Light;
}
h1 {
    font-size: 80px;
    margin-bottom: -15px;
}
.line {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.gina {
    background-image: url("img/Gina.png");
    min-width: 1160px;
    height: 690px;
}
.gina>.text {
    text-align: left;
    padding-left: 60px;
    padding-top: 40px;
}
.gina p {
    font-size: 24pt;
    margin-bottom: 145px;
}
h2{
    font-size: 48px;}
.beoplay {
    background-image: url("img/Beoplay A1.png");
    min-width: 560px;
    height: 520px;
}
.beoplay>.text {
    text-align: right;
    padding-right: 40px;
}
.leica {
    background-image: url("img/Leica MP.png");
    min-width: 560px;
    height: 520px;
    margin-left: 40px;
}
.leica>.text{
    padding-left: 40px;
}
.beoplay p,
.leica p {
    margin: -25px 0 85px;
    font-size: 18pt;
}
h3 {
    font-size: 36px;
}
.molekule{
    background-image: url("img/Molekule.png");
    min-width: 360px;
    height: 440px;
    margin-right: 40px;
}
.p9{
    background-image: url("img/P9 Signature.png");
    min-width: 360px;
    height: 440px;
}
.p9>.text{
    padding-top: 90px;
    text-align: center;
}
.p9 p {
    margin: 85px 0 80px 0;
}
.dr-ii{
    background-image: url("img/DR-II.png");
    min-width: 360px;
    height: 440px;
    margin-left: 40px;
}
.dr-ii>.text,
.molekule>.text{
    padding-top: 15%;
    text-align: center;
}
.molekule p,
.p9 p,
.dr-ii p {
    font-size: 16px;
}
.molekule h3,
.dr-ii h3 {
    margin: 0 0 30px 0;
}
.subscribe {
    font-family: HKGrotesk-Light;
    color: #63757E;
    text-align: center;
    margin-top: 160px;
}
.subscribe>h3 {
    font-size: 36px;
}
.subscribe>p {
    font-size: 18px;
    letter-spacing: 0px;
}
.btn {
    border: 3px solid #EEC9A2;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
}
.btn:hover,
.subscribe__button:hover,
.search:hover {
    -webkit-filter: invert(200%);
    filter: invert(100%);
    color:black;
}
.gina .btn {
    font-family: HKGrotesk-Light;
    font-size: 24px;
    border: 3px solid #EEC9A2;
    padding: 15px 20px 15px 20px;
}
.beoplay .btn,
.leica .btn {
    padding: 15px 35px 10px 35px;
}
.molekule .btn,
.p9 .btn,
.dr-ii .btn {
    padding: 10px 10px 5px 10px;
}

footer {
    font-family: HKGrotesk-Light;
    text-align: center;
    color: #63757E;
}
footer a {
    color: #63757E;
}
.nav {
    list-style: none;
}
.nav__elem {
    font-size: 20pt;
    margin: 0;
    padding: 30px;
    display: inline-block;
    position: relative;
}

.nav__elem + .nav__elem::before{
    background-color:#539127;
    border-radius: 50%;
    width:4px;
    height:4px;
    content:"";
    position: absolute;
    margin-top: 115px;
}

.subscribe__email {
    width: 350px;
    height: 49px;
    border: 3px solid lightgray;
    background-color: transparent;
    color: #fff;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 18pt;
    border-color: #63757E;
}
.subscribe__button {
    border: 2px solid lightblue;
    background-color: transparent;
    font: 18px LeagueSpartan-Bold;
    letter-spacing: 2px;
    width: 356px;
    height: 55px;
    margin-top: 10px;
    color: white;

}


@font-face {
    font-family: LeagueSpartan-Bold;
    src: local("LeagueSpartan-Bold"),
    url(font/lsb.otf);
}
@font-face {
    font-family: HKGrotesk-Light;
    src: local("HKGrotesk-Light"),
    url(font/hkgl.otf);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #63757E;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #63757E;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #63757E;
}
:-moz-placeholder { /* Firefox 18- */
    color: #63757E;
}
