body {
    color: #fff;
    background-color: #272F45;
    width: 70%;
    padding: 5%;
    padding-top: 0%;
}
ul :nth-of-type(15) {
    list-style-type: none;
}

li {
    display: inline;
}
a {
    text-decoration: none;
    color: azure;
}

h1 {
    font-size: 80pt;
}
h2 {
    font-size: 48pt;
}
h3 {
    font-size: 36pt;
}


.main {
}

.line {
    display: flex;
    width: 70%;
}

.btn {
    border: 1px solid #EEC9A2;
    padding: 5px;
}

.container{
    padding: 1%;
}

.line .btn {
    font-size: 18pt;
}

.pos {
    position: absolute;
}

.first {

}
.line.second p {
    font-size: 24pt;
}
.line.third p{
    font-size: 16pt;
}

.gina {

}
.beoplay {
    padding-right: 0.5%;
    text-align: right;
}

.leica {
    padding-left: 0.5%;
    text-align: left;
}

.molekule {

}

.p9 {

}

.dr-ii {

}
